---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        {% responsive_image_block %}
          path: {{ page.profile.image | prepend: 'assets/img/' }}
          class: "img-fluid z-depth-1 rounded"
          alt: {{ page.profile.image }}
        {% endresponsive_image_block %}
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}
    <hr>
    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}
    <hr>
    <br><br/>
    <center><h5>Want to reach me? Fill out the form below, and I'll get back to you when I can.</h5></center>
    <br><br/>
    <form
      action="https://formspree.io/f/mvolvgvy"
      method="POST"
    >
    <label for="name">Full Name: </label>
    <input id="name" type="text" name="name" pattern="[A-Za-z]+" required />
    <br /><br />

    <label for="email">Email Address: </label>
    <input id="email" type="email" name="email" required />
    <br /><br />

    <label for="message">Message: </label>
    <textarea id="message" name="message" required></textarea>
    <br /><br />

    <button type="submit">Submit</button>
    </form>
    <hr>
    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
